/* On importe la police Raleway depuis Google Font */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap');

/* On déclare nos variables pour les couleurs et pour la police, on les affectes au thème DARK */
:root, html[data-theme="dark"]{
    --primary-color: #87BB34;
    --first-color: #121111;
    --second-color:#2E3532;
    --slider-mob-color: #2E3532;
    --slider-desk-color: #2E3532;
    --projet-mob-font-color:#ffffff;
    --projet-desk-font-color:#ffffff;
    --projet-btn-color: #C4C4C4;
    --projet-icon-desk-color:#87BB34;
    --font-color: #ffffff;
    --title-color: #ffffff;
    --cv-btn-font-color:#ffffff;
    --footer-color: #121111;
    --form-color:#696969;
    --footer-span-color:#87BB34;
    --footer-icon-color:#2E3532;
    --raleway:'Raleway', sans-serif;
}

/* On déclare nos variables pour les couleurs et pour la police, on les affectes au thème LIGHT */
html[data-theme="light"]{
    --primary-color: #235789;
    --first-color: #F5F5F5;
    --second-color:#ffffff;
    --slider-mob-color: #2B3C5E;
    --slider-desk-color: #ffffff;
    --projet-mob-font-color:#ffffff;
    --projet-desk-font-color:#000000;
    --projet-btn-color: #ffffff;
    --projet-icon-desk-color:#ffffff;
    --font-color: #000000;
    --title-color: #ffffff;
    --cv-btn-font-color:#ffffff;
    --footer-color: #2B3C5E;
    --form-color:#ffffff;
    --footer-span-color:#ffffff;
    --footer-icon-color:#ffffff;
    --raleway:'Raleway', sans-serif;
}

/* On reset les valeurs à 0 */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    height: 100vh;
    width: 100vw;
    background-color: var(--first-color);
}
/* Header */
header, aside{
    background-color: var(--first-color);
}
header{
    font-family: var(--raleway);
    height: 450px;
    width: 100%;
}

.nom{
    display: flex;
    justify-content: center;
    margin: auto;
    width: 100%;
    letter-spacing: 4px;
    font-family: var(--raleway);
    font-size: 24px;
    color: var(--primary-color);
}
.nom span{
    font-size: 24px;
    font-weight: 700;
}
.contact{
    color: var(--font-color);
    display: none;
}
#colorSwitch{
    color: var(--font-color);
    display: flex;
    justify-content: center;
    margin: 3% 0;
}
header h1{
    color: var(--font-color);
    font-size: 40px;
    font-weight: 700;
    margin: 0 ;
    margin-left: 10px;
}
header span{
    color: var(--primary-color);
    font-weight: 700;
    font-size: 40px;
    display: block;
    margin-left: 10px;
}
a{
    text-decoration: none;
}
.header_btn{
    background-color: var(--second-color);
    margin: 20px auto;
    width: 270px;
    padding: 10px 15px;
    border-radius: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_btn p{
    font-size: 18px;
    font-weight: 700;
    color: var(--font-color);
}
.header_btn i{
    color: var(--primary-color);
    font-size: 25px;
}

/* Fin Header */

/* Main */

.main_head{
    display: none;
}
main section{
    background-color: var(--slider-mob-color);
}
main h2{
    color: var(--font-color);
}
h2{
    color: var(--font-color);
    text-align: center;
    font-size: 40px;
    font-family: var(--raleway);
    padding: 20px;
}


/* Slider */

.slider{
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}
.card{
    color: var(--projet-mob-font-color);
    margin: auto;
    padding: 10px;
    scroll-snap-align: start;
}
.card img{
    display: block;
    margin: auto;
}
.card h3{
    text-align: center;
    font-size: 25px;
    padding: 20px;
    font-weight: 600;
}
.card p{
    margin: auto;
    padding: 5px;
    width: 300px;
}
.projet_btn{
    width: 180px;
    margin: 25px auto;
    padding: 1px 10px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--projet-btn-color);
}
.projet_btn p{
    color: #000000;
}
.projet_btn i{
    font-size: 20px;
    color: var(--primary-color);
}
/* Fin Slider */

/* Fin Main */

/* Aside Profil */

aside{
    color: var(--font-color);
}
.photo_profil{
    margin: 20px auto;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background-image: url(../img/photo.jpg);
    background-size: cover;
    background-position: center;
    border: 0.5px solid rgba(0, 0, 0, 0.03);
    box-shadow: -10px -10px 0px 10px var(--primary-color);
}
aside h3{
    color: var(--primary-color);
    font-weight: 700;
    text-align: center;
    font-size: 25px;
    padding: 20px;
}
aside p{
    margin: auto;
    padding: 5px;
    width: 300px;
    font-size: 18px;
}
aside button{
    display: block;
    margin: 40px auto;
    width: 290px;
    border: none;
    border-radius: 20px;
    background-color: var(--primary-color);
    color: var(--cv-btn-font-color);
    padding: 3px 15px;
}

/* Modal CV */

#backdrop{
    display: none;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.75);
    z-index: 10;
}

#modal_cv{
    display: none;
    position: fixed;
    width: 80%;
    left: 10%;
    top: 25vh;
    color: var(--font-color);
    background-color: var(--second-color);
    z-index: 20;
    padding-bottom: 20px;
}
.close_div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.close_div p{
    padding: 10px;
}
.fa-xmark{
    font-size: 20px;
    padding: 10px;
}
#modal_cv h3{
    color: var(--primary-color);
    font-size: 23px;
    padding: 10px;
}
#modal_cv ul{
    margin-left: 20px;
    list-style: none;
    font-size: 14px;
    padding-right: 10px;
}
ul li{
    padding: 1px 0;
}
ul i{
    float: left;
    margin-right: 10px;
    color: var(--primary-color);
}
.logiciel{
    display: flex;
    justify-content: center;
}
.logiciel i{
    margin: 5px 5px;
    font-size: 25px;
}
.fa-symfony{
    color: var(--font-color);
}

/* Fin Modal CV */

/* Fin Aside profil */

/* Footer */

footer{
    background-color: var(--footer-color);
}
footer h2{
    color: #ffffff;
    text-align: center;
    font-size: 30px;
    font-family: var(--raleway);
    padding: 20px;
}

/* Formulaire */

form{
    display: flex;
    flex-direction: column;
    width: 295px;
    margin: auto;
    font-family: var(--raleway);
}
form input, form textarea{
    background-color: var(--form-color);
    border: none;
    padding: 5px;
    margin: 5px 0;
    resize: none;
}
::placeholder{
    color: var(--font-color);
    font-size: 18px;
    font-weight: 600;
}
form button{
    width: 120px;
    background-color: var(--footer-span-color);
    border: none;
    color: var(--font-color);
    margin: 5px auto;
    padding: 5px 0;
    font-weight: 600;
}
footer span{
    color: var(--footer-span-color);
    font-size: 18px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    margin: 15px;
}

/* Fin Formulaire */

.reseaux{
    display: flex;
    justify-content: space-around;
    padding: 10px;

}
.res{
    background-color: var(--footer-icon-color);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;

}
.res i{
    color: var(--primary-color);
    font-size: 40px;
}

/* Fin Footer */