/* On importe la police Raleway depuis Google Font */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap');


/* On déclare nos variables pour les couleurs et pour la police, on les affectes au thème DARK */
:root, html[data-theme="dark"]{
    --primary-color: #17b1bf;
    --first-color: #121111;
    --second-color:#2E3532;
    --main-header-color:#847E89;
    --slider-mob-color: #2E3532;
    --slider-desk-color: #2E3532;
    --projet-mob-font-color:#ffffff;
    --projet-desk-font-color:#ffffff;
    --projet-btn-color: #C4C4C4;
    --projet-icon-desk-color:#17b1bf;
    --font-color: #ffffff;
    --title-color: #ffffff;
    --aside-title-color:#ffffff;
    --cv-btn-font-color:#ffffff;
    --footer-color: #121111;
    --form-color:#2E3532;
    --footer-span-color:#17b1bf;
    --footer-icon-color:#2E3532;
    --raleway:'Raleway', sans-serif;
}

/* On déclare nos variables pour les couleurs et pour la police, on les affectes au thème LIGHT */
html[data-theme="light"]{
    --primary-color: #17b1bf;
    --first-color: #F5F5F5;
    --second-color:#ffffff;
    --main-header-color:#847E89;
    --slider-mob-color: #e9e8e886;
    --slider-desk-color: #ffffff;
    --projet-mob-font-color:#000000;
    --projet-desk-font-color:#000000;
    --projet-btn-color: #ffffff;
    --projet-icon-desk-color:#ffffff;
    --font-color: #000000;
    --title-color: #17b1bf;
    --aside-title-color:#17b1bf;
    --cv-btn-font-color:#ffffff;
    --footer-color: #e9e8e886;
    --form-color:#ffffff;
    --footer-span-color:#17b1bf;
    --footer-icon-color:#ffffff;
    --raleway:'Raleway', sans-serif;
}

/* On reset les valeurs à 0 */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    height: 100vh;
    width: 100vw;
    background-color: var(--first-color);
    font-family: Arial, Helvetica, sans-serif;
}
/* Header */
header, aside{
    background-color: var(--first-color);
}
header{
    font-family: var(--raleway);
    height: 450px;
    width: 100%;
}

.nom{
    display: flex;
    justify-content: center;
    margin: auto;
    width: 100%;
    letter-spacing: 4px;
    font-family: var(--raleway);
    font-size: 24px;
    color: var(--primary-color);
}
.nom span{
    margin-right: 10px;
    font-size: 24px;
    font-weight: 700;
}
.contact{
    color: var(--font-color);
    display: none;
}
#colorSwitch{
    color: var(--font-color);
    display: flex;
    justify-content: center;
    margin: 3% 0;
}
header h1{
    color: var(--font-color);
    font-size: 40px;
    font-weight: 700;
    margin: 0 ;
    margin-left: 10px;
}
header span{
    color: var(--primary-color);
    font-weight: 700;
    font-size: 40px;
    display: block;
    margin-left: 10px;
}
a{
    text-decoration: none;
}
.header_btn{
    background-color: var(--second-color);
    margin: 20px auto;
    width: 270px;
    padding: 10px 15px;
    border-radius: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_btn:hover{
    background-color:var(--primary-color);
}
.header_btn:hover i{
    color: var(--cv-btn-font-color);
}
.header_btn:hover p{
    color: var(--cv-btn-font-color);
}
.header_btn p{
    font-size: 18px;
    font-weight: 700;
    color: var(--font-color);
}
.header_btn i{
    color: var(--primary-color);
    font-size: 25px;
}

/* Fin Header */

/* Main */

.main_head{
    display: none;
}
main section{
    background-color: var(--slider-mob-color);
}
h2{
    color: var(--title-color);
    text-align: center;
    font-size: 40px;
    font-family: var(--raleway);
    padding: 20px;
}


/* Slider */

.slider{
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}
.card{
    color: var(--projet-mob-font-color);
    padding: 10px;
    scroll-snap-align: start;
}
.card img{
    display: block;
}
.card h3{
    text-align: center;
    font-size: 25px;
    padding: 20px;
    font-weight: 600;
}
.card p{
    padding: 5px;
    width: 300px;
}
.projet_btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    width: 180px;
    margin: 25px auto;
    padding: 1px 10px;
    border-radius: 20px;
    background-color: var(--projet-btn-color);
}
.projet_btn p{
    color: #000000;
}
.projet_btn i{
    font-size: 20px;
    color: var(--primary-color);
}
/* Fin Slider */

/* Fin Main */

/* Aside Profil */

aside{
    color: var(--font-color);
    padding: 20px 0;
}
.photo_profil{
    margin: 20px auto;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background-image: url(../img/photo.jpg);
    background-size: cover;
    background-position: center;
    border: 0.5px solid rgba(0, 0, 0, 0.03);
    box-shadow: -10px -10px 0px 10px var(--primary-color);
}
aside h2{
    color: var(--aside-title-color);
}
aside h3{
    color: var(--primary-color);
    font-weight: 700;
    text-align: center;
    font-size: 25px;
    padding: 20px;
}
aside p{
    margin: auto;
    padding: 5px;
    width: 300px;
    font-size: 18px;
}
aside button{
    display: block;
    cursor: pointer;
    margin: 40px auto;
    width: 290px;
    border: none;
    border-radius: 30px;
    background-color: var(--primary-color);
    color: var(--cv-btn-font-color);
    padding: 10px 10px;
    font-weight: 600;
    letter-spacing: 1.5px;
}

/* Modal CV */

#backdrop{
    display: none;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.75);
    z-index: 10;
}

#modal_cv{
    display: none;
    position: fixed;
    width: 80%;
    left: 10%;
    top: 25vh;
    color: var(--font-color);
    background-color: var(--second-color);
    z-index: 20;
    padding-bottom: 20px;
}
.close_div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.close_div p{
    padding: 10px;
}
.fa-xmark{
    font-size: 20px;
    padding: 10px;
}
#modal_cv h3{
    color: var(--primary-color);
    font-size: 23px;
    padding: 10px;
}
#modal_cv ul{
    margin-left: 20px;
    list-style: none;
    font-size: 14px;
    padding-right: 10px;
}
ul li{
    padding: 1px 0;
}
ul i{
    float: left;
    margin-right: 10px;
    color: var(--primary-color);
}
.logiciel{
    display: flex;
    justify-content: center;
}
.logiciel i{
    margin: 5px 5px;
    font-size: 25px;
}
.fa-symfony{
    color: var(--font-color);
}

/* Fin Modal CV */

/* Fin Aside profil */

/* Footer */

footer{
    background-color: var(--footer-color);
}
footer h2{
    text-align: center;
    font-size: 30px;
    font-family: var(--raleway);
    padding: 20px;
}

/* Formulaire */

form{
    display: flex;
    flex-direction: column;
    width: 295px;
    margin: auto;
    font-family: var(--raleway);
}
form div{
    position: relative;
}
.underline {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    height: 1px;
    background-color: var(--primary-color);
    transform-origin: bottom right;
    transform: scaleX(0);
    transition: transform 0.5s ease;
}
form input, form textarea{
    width: 100%;
    background-color: var(--footer-color);
    color: var(--font-color);
    border: 1px solid transparent;
    border-bottom: 1px solid var(--primary-color);
    opacity: 0.5;
    padding: 10px 7px;
    resize: none;
    outline: none;
}

input:focus ~ .underline, textarea:focus ~ .underline {
    transform-origin: bottom left;
    transform: scaleX(1);
}
::placeholder{
    color: var(--font-color);
    opacity: 0.5;
    font-size: 18px;
    font-style: italic;
}
form button{
    width: 120px;
    background-color: var(--footer-span-color);
    border-radius: 20px;
    border: none;
    color: white;
    margin: 10px auto;
    padding: 5px 0;
    font-weight: 600;
}
footer span{
    color: var(--footer-span-color);
    font-size: 18px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    margin: 15px;
}

/* Fin Formulaire */

.reseaux{
    display: flex;
    justify-content: space-around;
    padding: 20px;

}
.res{
    background-color: var(--footer-icon-color);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    transform: scale(1);
    transition: ease-in-out 0.4s;
}
.res:hover{
    transform: scale(1.3);
    transition: ease-in-out 0.4s;
}
.res i{
    color: var(--primary-color);
    font-size: 40px;
}

/* Fin Footer */

/* Début des Medias Queries */

@media screen and (min-width:480px){
    header{
        height: 340px;
    }
    .en-tete{
        display: flex;
    }
    #colorSwitch{
        margin-right: 15px;
    }
    .nom{
        justify-content: flex-start;
        font-size: 30px;
    }
    .nom span{
        font-size: 30px;
    }
    .flex_btn{
        display: flex;
        justify-content: space-around;
    }
    .header_btn{
        margin: 30px 0;
        width: 220px;
        justify-content: space-around;
    }
    .header_btn p{
        font-size: 25px;
    }
    .projet_btn i{
        font-size: 30px;
    }
    .main_head{
        display: block;
        background-color:var(--main-header-color) ;
        padding: 0 10px 10px 10px;
        height: 40%;
    }
    .flex_projet{
        display: flex;
        flex-wrap: wrap;
    }
    .case_projet{
        width: 45%;
        margin: 10px;
        border-radius: 20px 20px 0 20px ;
        overflow: hidden;
        background-color: var(--first-color);
    }
    .case_projet img{
        width: 100%;
    }
    .case_projet div{
        display: flex;
        flex-direction: column;
    }
    .case_projet h3{
        color: var(--font-color);
        text-align: center;
        padding: 10px 15px;
    }
    .case_projet p{
        color: var(--main-header-color);
        padding: 10px 15px;
    }
    .case_projet a{
        color: var(--primary-color);
        padding: 10px 15px;
        align-self: flex-end;
    }
    .case_projet a:hover{
        color: white;
    }
    .slider{
        flex-direction: column;
    }
    .flex_info{
        display: flex;
        justify-content: space-around;
    }
    .card img{
        width: 50%;
        padding: 10px;
    }
    .projet_btn{
        margin: 25px 0;
    }
    .left{
        margin-left: 13%;
    }
    .right{
        margin-left: 63%;
    }
    #travaux h2{
        display: none;
    }
}